<body id="background">
	<div id="jakescript" class="container"><!-- /JAKE SCRIPT -->
		<img src="<%= asset_path('jakescript.png')%>" alt="JAKE PALESCHIC" style="width: 100%; height: 100%;">
	</div><!-- /#jakescript -->

	<div id="social" class="container text-center"><!-- /SOCIAL -->
		<p>twitter / facebook / instagram / bandcamp / contact</p>
	</div><!-- /#social -->

	<div id="about" class="container text-center"><!-- /ABOUT -->
		<div id="img" class="jpal">
			<img class="img-circle" src="<%= asset_path('jpalavatar.jpg')%>" alt="Jake Paleschic" style="width: 100px; height: 100px;">
		</div>
		<div id="img" class="blurb">
			<p>"This is music firmly rooted in American soil, even while collectively the band explores newer frontiers of folk, rock and roll, and country"</p>
		</div>
	</div><!-- /#about -->
</body>